In [1]:
import pandas as pd
df=pd.read_csv('online_retail_customer_churn.csv')

In [2]:
df.head()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 1000 non-null   int64
 1   Age                         1000 non-null   int64
 2   Gender                      1000 non-null   object
 3   Annual_Income               1000 non-null   float64
 4   Total_Spend                 1000 non-null   float64
 5   Years_as_Customer           1000 non-null   int64
 6   Num_of_Purchases            1000 non-null   int64
 7   Average_Transaction_Amount  1000 non-null   float64
 8   Num_of_Returns              1000 non-null   int64
 9   Num_of_Support_Contacts     1000 non-null   int64
 10  Satisfaction_Score          1000 non-null   int64
 11  Last_Purchase_Days_Ago      1000 non-null   int64
 12  Email_Opt_In                1000 non-null   bool
 13  Promotion_Response          1000 non-null   object
 14  Target_Churn                1000 non-null   bool
dtypes: bool(2), float64(3), int64(8), object(2)
memory usage: 103.6+ KB

In [4]:
df.describe(include='all')

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
count,1000.000000,1000.000000,1000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000
unique,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2
top,NaN,NaN,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Unsubscribed,True
freq,NaN,NaN,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529,361,526
mean,500.500000,43.267000,NaN,111.962960,5080.79265,9.727000,49.456000,266.876530,4.612000,1.934000,2.974000,182.890000,NaN,NaN,NaN
std,288.819436,15.242311,NaN,52.844111,2862.12335,5.536346,28.543595,145.873445,2.896869,1.402716,1.391855,104.391319,NaN,NaN,NaN
min,1.000000,18.000000,NaN,20.010000,108.94000,1.000000,1.000000,10.460000,0.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN
25%,250.750000,30.000000,NaN,67.800000,2678.67500,5.000000,25.000000,139.682500,2.000000,1.000000,2.000000,93.000000,NaN,NaN,NaN
50%,500.500000,43.000000,NaN,114.140000,4986.19500,9.000000,49.000000,270.100000,5.000000,2.000000,3.000000,180.500000,NaN,NaN,NaN
75%,750.250000,56.000000,NaN,158.452500,7606.47000,14.000000,74.000000,401.602500,7.000000,3.000000,4.000000,274.000000,NaN,NaN,NaN
max,1000.000000,69.000000,NaN,199.730000,9999.64000,19.000000,99.000000,499.570000,9.000000,4.000000,5.000000,364.000000,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Customer_ID                   0
Age                           0
Gender                        0
Annual_Income                 0
Total_Spend                   0
Years_as_Customer             0
Num_of_Purchases              0
Average_Transaction_Amount    0
Num_of_Returns                0
Num_of_Support_Contacts       0
Satisfaction_Score            0
Last_Purchase_Days_Ago        0
Email_Opt_In                  0
Promotion_Response            0
Target_Churn                  0
dtype: int64

In [6]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Annual_Income', 'Total_Spend',
       'Years_as_Customer', 'Num_of_Purchases', 'Average_Transaction_Amount',
       'Num_of_Returns', 'Num_of_Support_Contacts', 'Satisfaction_Score',
       'Last_Purchase_Days_Ago', 'Email_Opt_In', 'Promotion_Response',
       'Target_Churn'],
      dtype='object')

In [7]:
df.columns=df.columns.str.lower()

In [8]:
df.columns

Index(['customer_id', 'age', 'gender', 'annual_income', 'total_spend',
       'years_as_customer', 'num_of_purchases', 'average_transaction_amount',
       'num_of_returns', 'num_of_support_contacts', 'satisfaction_score',
       'last_purchase_days_ago', 'email_opt_in', 'promotion_response',
       'target_churn'],
      dtype='object')

In [9]:
df=df.rename(columns={'num_of_purchases':'last_year_purchases'})
df=df.rename(columns={'satisfaction_score':'rating'})
df=df.rename(columns={'email_opt_in':'email_enabled'})

In [10]:
df.columns

Index(['customer_id', 'age', 'gender', 'annual_income', 'total_spend',
       'years_as_customer', 'last_year_purchases',
       'average_transaction_amount', 'num_of_returns',
       'num_of_support_contacts', 'rating', 'last_purchase_days_ago',
       'email_enabled', 'promotion_response', 'target_churn'],
      dtype='object')

In [11]:
#creating column
attributes=['Youth','Adult','Middle_ages','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=attributes)

In [12]:
df[['age','age_group']].head(10)

   age age_group
0   62    Senior
1   65    Senior
2   18     Youth
3   21     Youth
4   21     Youth
5   57    Senior
6   27     Youth
7   37     Adult
8   39     Adult
9   68    Senior

In [13]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\harinath\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\harinath\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\harinath\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   -------------------------------------- - 2.6/2.7 MB 12.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 11.1 MB/s  0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [14]:
!pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [15]:
import pymysql
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username="root"
password="Hari@2005"
host="localhost"
port="3306"
database="customer"

# URL-encode the password to handle special characters like '@'
encoded_password = quote_plus(password)

engine = create_engine(
    f"mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database}"
)


table_name="mytable"
df.to_sql(table_name,engine,if_exists="replace",index=False)
pd.read_sql("SELECT * FROM mytable LIMIT 5;",engine)

,customer_id,age,gender,annual_income,total_spend,years_as_customer,last_year_purchases,average_transaction_amount,num_of_returns,num_of_support_contacts,rating,last_purchase_days_ago,email_enabled,promotion_response,target_churn,age_group
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,1,Responded,1,Senior
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,0,Responded,0,Senior
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,0,Responded,1,Youth
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,1,Ignored,1,Youth
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,0,Unsubscribed,0,Youth